# Final Project Submission: Regression Models - KC Housing Data

Please fill out:
* Student name: Princess 'Seun' Otusanya
* Student pace: Self Paced
* Scheduled project review date/time: January 26, 2021. 4:00PM
* Instructor name: Jeff Herman
* Blog post URL:

## Objective
In this Jupyter notebook we will finally be working on Linear Regression and finding the best fit model for our business case. The order of business is as follows: 
- Linear Regression
- Feature Selection
- Train-Test Split
- Cross Validation

### Import neccesary Libraries and Load Data

In [1]:
# Let's start by importing nessesary libraries
import pandas as pd
import numpy as np
# For visualizations
import seaborn as sns  
import matplotlib.pyplot as plt
%matplotlib inline
# For regression
import statsmodels.api as sm
import scipy.stats as stats
from statsmodels.formula.api import ols
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [2]:
# Import new and improved data and drop extra default index
kc_reg = pd.read_csv('kc_reg.csv')
kc_reg.drop(['Unnamed: 0'], axis=1, inplace=True)
# Print top 5 rows to ensure data loads properly
kc_reg.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,waterfront,condition,grade,sqft_above,lat,long,basement,renovated,floor_1.5,floor_2.0,floor_2.5,floor_3.0,floor_3.5
0,221900.0,3.0,1.0,1180,5650,0.0,3,7,1180,47.5112,-122.257,0,0,0,0,0,0,0
1,538000.0,3.0,2.5,2570,7242,0.0,3,7,2170,47.7210,-122.319,1,1,0,1,0,0,0
2,180000.0,2.0,1.0,770,10000,0.0,3,6,770,47.7379,-122.233,0,0,0,0,0,0,0
3,604000.0,4.0,3.0,1960,5000,0.0,5,7,1050,47.5208,-122.393,1,0,0,0,0,0,0
4,510000.0,3.0,2.0,1680,8080,0.0,3,8,1680,47.6168,-122.045,0,0,0,0,0,0,0

### Linear Regression